@import "../../../../assets/css/var.scss";
.style{
  color: #2bf8ee;
}


.container{
  width: 100%;
  height: 100%;
}

.properties-panel{
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
}

.ant-advanced-search-form,
.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.ant-advanced-search-form .ant-form-item,
.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-form-item-control-wrapper,
.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.search-result-list {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}


.user-manage-list{
  .filter-wrap{
    justify-content: space-between;
    .filter-left{
      justify-content: start;
      &>*{
        margin-right: 5px;
      }
    }
    .filter-right{
      justify-content: end;
      &>*{
        margin-left: 5px;
      }
    }
  }

}

.home{
  .home-filter{
    justify-content: flex-end;
    margin-bottom: 20px;
    .search-input{
      width: 200px;
    }
  }
  .home-base-map{
    border: 1px solid #eeeeee;
  }
}



.c-button{
  display: inline-block;
  .c-button-base{
    border-radius: $button-border-radius;
    box-shadow: none;
    border: 1px solid $button-default-border-color;
    height: $button-size-default;
    font-size: $button-size-default-font-size;
    transition: all 0.5s;
  }

  .c-button-icon{
    span{
      margin-left: 5px;
    }
  }

  .c-button-default{
    border-color: $button-default-border-color;
    background-color: $button-default-background-color;
    color: $button-default-text-color;
    &:hover{
      color: $button-hover-text-color;
      border-color: $button-border-hover-color;
      background-color: $button-default-hover-background-color;
    }
  }

  .c-button-primary{
    border-color: $button-primary-border-color;
    background-color: $button-primary-background-color;
    color: $button-primary-text-color;
    &:hover{
      background-color: $button-primary-hover-background-color;
    }
  }
  .c-button-danger{
    border-color: $button-danger-border-color;
    background-color: $button-danger-background-color;
    color: $button-danger-text-color;
    &:hover{
      background-color: $button-danger-hover-background-color;
    }
  }
  .c-button-success{
    border-color: $button-success-border-color;
    background-color: $button-success-background-color;
    color: $button-success-text-color;
    &:hover{
      background-color: $button-success-hover-background-color;
    }
  }

  .c-button-c-success{
    border-color: $button-c-success-border-color;
    background-color: $button-c-success-background-color;
    color: $button-c-success-text-color;
    &:hover{
      background-color: $button-c-success-hover-background-color;
    }
  }

  .c-button-warning{
    border-color: $button-warning-border-color;
    background-color: $button-warning-background-color;
    color: $button-warning-text-color;
    &:hover{
      background-color: $button-warning-hover-background-color;
    }
  }

  .c-button-disabled{
    border-color: $button-default-border-color;
    background-color: $button-disabled-background-color;
    color: $button-disabled-text-color;
    cursor: not-allowed;
    &:hover{
      border-color: $button-default-border-color;
      background-color: $button-disabled-background-color;
      color: $button-disabled-text-color;
    }
  }

  .c-button-text{
    border: none;
    padding: 0;
    height: auto;
    display: inline;
    background-color: transparent;
    color: $button-primary-background-color;
    --antd-wave-shadow-color: none;
    &:hover{
      color: $button-primary-hover-background-color;
    }
    &:active,&:focus{
      outline: 0;
    }
  }

  .c-button-size-small{
    height: $button-size-small;
    font-size: $button-size-small-font-size;
  }
  .c-button-size-larger{
    height: $button-size-larger;
    font-size: $button-size-larger-font-size;
  }
}